<!DOCTYPE html>
<html>

<head>
    <title>Rancho los Pitufos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/pizza.css')}}">
    <script src="{{url_for('static', filename='js/myScript.js')}}" type="text/javascript"></script>
    <meta charset="UTF-8">
</head>

<body>
   <script src="{{url_for('static', filename='js/myScript.js')}}" type="text/javascript"></script>

    <div id="background-header" style="position:absolute;"></div>

    <div id="container">

        <div id="header" style="position:absolute;">

            <img id="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="Logo" />

            <p class="slogan">Servimos excelente comida para toda la familia</p>

            <ul id="ul-header">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="About.html">Nosotros</a></li>
                <li><a href="Menu.html">Menu</a></li>
                <li><a href="Contact.html">Contacto</a></li>
            </ul>

        </div>

        <div id="empty"></div>

        <div id="about">

            <div id="images-gallery">
                <img id="gallery1" src="{{url_for('static', filename='img/pizza1.png')}}" alt="Gallery" />
                <img id="gallery2" src="{{url_for('static', filename='img/pizza2.png')}}" alt="Gallery" />
                <img id="previous" src="{{url_for('static', filename='img/previous.png')}}" alt="previous" onclick="prev()" />
                <img id="nextt" src="{{url_for('static', filename='img/next.png')}}" alt="next" onclick="next()" />
            </div>

            <p class="text">Somos un negocio familiar. Llevamos varios años cocinando y haciendo eventos con mucho amor.
            </p>
            <p class="text">Tradicionalmente preparamos platos locales.
                tambien continuamente estamos adaptando los platos para el disfrute de todos
            </p>
            <p class="text">Hoy en dia somos uno de los mejores restaurantes de la zona </p>
            <p class="text">Con un gran ambiente <span>buenas bebidas</span> y el mejor servicio!</p>
            <p class="text">Tambien organizamos eventos, bodas y cumpleaños!!!</p>
        </div>

    </div>

    <div id="background-footer-hidden">

        <div class="footer">
            <p>Por favor contacte a Marha con cualquier pregunta o duda sobre esta pagina web.</p>
            <p>DISCLAIMER: <em>Pizza Bubonja's</em> is not real restaurant. This website is part of my portfolio and is completely fictional.</p>
            <p>&copy; 2025 RanchoLosPitufos. All Rights Reserved.</p>
        </div>

    </div>

    <div id="background-footer">

        <div class="footer">
            <p>Por favor contacte a Marha con cualquier pregunta o duda sobre esta pagina web.</p>
            <p>&copy; 2025 RanchoLosPitufos. All Rights Reserved</p>
        </div>

    </div>

</body>

</html>
